@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-primary: #212121;
  --foreground-primary-reverse: #FFFFFF;
  --foreground-tertiary: #787777;
  --foreground-inactive: #E9E8DD;
  --background-screen: #FAF9F6;
  --background-ui-active: #E9E8DD;
  --border-ui: #F2F0E9;
  --gradient-from: #89898900;
  --gradient-stop: #3F3F3F84;
  --gradient-to: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
